        /* ========form,btn윤곽 */
        .form-control{border-radius: 0;}
        .btn{border-radius: 0;}
        /*=========header======*/
        section{margin-top: 50px;}

        .my-header{background-color:#263238; position: fixed; top: 0; left: 0; width: 100%; z-index: 50;}
        .my-header a{color: white; font-size: 15px;}

        .navbar{margin-bottom: 0px;}
        .navbar-brand{padding: 10px 20px;}
        .nav>li>a:focus, .nav>li>a:hover{background-color: #304047;}
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
            background-color: #304047;
        
        }
        .navbar-toggle{border-color: white;}
        .navbar-toggle .icon-bar{background-color: white;}



        /*========footer========*/
        footer{background-color: #263238; color: white; font-size: 13px; padding: 40px 0px; margin-top: 70px;}
        footer .footer-copyright address{margin: 0;}
        footer .footer-menu{text-align: right;} /*부트스트랩의 클래스 text-right속성으로 대체가능*/
        footer .footer-menu li a{text-decoration: none; color: white; font-size: 13px;}
        footer .footer-menu li{display: inline-block; padding:0px 10px;}

        /*=======banner=========*/
        .my-banner{position: relative;}
        .carousel-control.right{background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)}
        .carousel-control.left{background-image: none;}


        /*=========index=========*/
        .prod-list,.prod-box{display: block;  border: 1px solid #ddd; text-align: center;}
        .prod-list,.prod-list li{padding: 5px;}
        .prod-box{position: relative;}
        .prod-box .arrow{display: block; width: 35px; /*높이 넓이 주기위해 block으로 지정*/
                        height: 35px;
                        line-height: 35px; 
                        position: absolute; /* 위치기반으로  올릴 부모클래스에 relative */
                        bottom: 20px; 
                        left: 20px;
                        background-color:#ccc;
                        color: white;
                        opacity: 1;
        }
        .prod-box .hover{display: block; position: absolute; background-color: #1367e6; bottom: 20px; left: 20px; height: 35px; width: 100px; line-height: 35px; color: white;
                        opacity: 0; /*투명도 0~1*/
        }
        /* hover기능시 arrow의 투명도 변경 */
        .prod-box:hover > .arrow{opacity: 0;}
        .prod-box:hover > .hover{opacity: 1;}
        /* hover기능시 자신의 border값 변경 */
        .prod-box:hover{border: 1px solid #1367e6;}





        /*=========상품그리드========*/
        .prod-image{text-align: center;} /*이미지를 가운데로*/
        .prod-content{overflow: hidden; padding: 20px 0;} 
        .prod-content .prod-info{float: left;}
        .prod-content .prod-price{float: right;}
        .prod-content .prod-info span,.prod-price strong{display: block;}
        

        .prod-color{margin-top: -40px; opacity: 0; transition: opacity 0.5s ease-in-out}  /* transition(변경할옵션,주기,변경속도,딜레이초) */
        .prod-color ul{overflow: hidden;}
        .prod-color li{float: left; width: 20%;}
        
        .prod-list2:hover > .prod-color{
            opacity: 1; /*호버시 숨겨놓은 영역의 투명도 1*/
        } 

        .text-center{overflow: hidden;}
        .text-center button{float: right;}
        .text-center ul{margin: 0;}






        /*========detail=======*/
        section .price {border-bottom:1px solid #777; font-size: 20px;}
        
        section .mid {padding-bottom: 223px; color: #888;}
        section .content{overflow: hidden;}
        section .content .left{float: left;}
        section .content .right{float: right;}
        section .clear button{width: 49%; border: 1px solid #888;}
        
        
        .content2{overflow: hidden;}
        .content2 .left{ float: left;}
        .content2 .left input{display:block;}
        .content2 .right{ float: right;}

        .one{padding: 10px 10px 10px 60px; position: relative; border: 1px solid #777;}
        .one .aside1{position: absolute; top: 10px; left: 10px;}

        .two{padding: 10px 10px 30px 60px; position: relative; border: 1px solid #777;}
        .two .aside2{position: absolute; top: 10px; left: 10px;}




        /*=========댓글영역=========*/
        .reply-group input{width:180px;margin-bottom: 10px;}
        .reply-wrap{background-color: #f5f5f5; border: 1px solid #ddd; padding: 20px; position: relative;}

        .reply-img{position: absolute; top: 20px; bottom: 20px;}

        .reply-content{padding-left: 60px;}

        .reply-group{overflow: hidden; padding-top: 20px;}
        .reply-group .left{float: left;}
        .reply-group .right{float: right}
        
        /*텍스트영역 리사이징 옵션, 에니메이션*/
        .reply-content textarea{resize: none; height: 100px; transition: height 0.5s ease-in-out;} /*에니메이션 효과(변경할속성,지속시간,에니메이션방식,딜레이초)*/
        .reply-content textarea:focus{height: 200px;}

        /*댓글 코멘트 영역 - 위 클래스를 재활용*/
        .reply-group a{text-decoration: none; color:#7777;}
        .reply-group p{margin: 0;}









        /*제목박스*/
        .title-box{width: 250px; margin: 60px auto; text-align: center; padding: 20px 40px; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1;}
        .join-form{ margin: 0 auto;/*가운데 정렬이 안되는 이유가 col관련된 클래스가 float을 가지고 있기 때문에*/ float: none; }
        .join-form form{border:1px solid #777 ; border-radius: 12px; box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.355); padding: 50px;} /*박스의 그림자(가로로떨어진간격, 세로로떨어진간격,흐릿정도,색상)*/
        @media(max-width: 767px){ /* 767px 미만일떄 적용(col-xs가 동작하는 픽셀과 같음) */
            .join-form form{padding: 50px 10px;}
        }






        /*======login화면=======*/
        .login-form{margin: 0 auto; float: none;  }
        .login-form form{box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45);  border-radius: 10px; padding: 50px; }
        @media(max-width: 767px){
            .login-form form{padding: 10px;}
        }